{% extends 'base.html' %}

{% block content %}

<a href="{% url 'album' %}" type="button" class="mt-2 mb-2 float-right btn btn-primary">New Album
</a>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>password</th>
      </tr>
    </thead>
    <tbody>
      {% for album in albums %}
        <tr>
          
          <td class="align-middle">
            <a href="{% url 'album-details' album.slug %}"> {{ album.name }}</a>
          </td>
          <td class="align-middle">
            <p>{{ album.get_absulate_url }} </p>
          </td>
          <td class="align-middle">
            <p>{{ album.password }}</p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}