{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Album</li>
{% endblock %}

{% block content %}
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>password</th>
      </tr>
    </thead>
    <tbody>
      {% for album in albums %}
        <tr>
          
          <td class="align-middle">
            {{ album.album_name }}
          </td>
          <td class="align-middle">
            <p><em>No Link yet.</em></p>
          </td>
          <td class="align-middle">
            <p><em>No Password yet.</em></p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}